@model IEnumerable<jwhiteheadShoppingApp.Models.CodeFirst.Item>


<div class="surroundSmallImagesBox">
    <div class="row">
        <div class="col-sm-12">
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Create")" class="creatNewItemBttn">Create New Item</a>
                @*@Html.ActionLink("Create New Item", "Create")*@
            }

            @*@foreach (var item in Model)
    {
        @Url.Action("Details", "Items", new { itemCount = item.Id })
        if (itemCount != null)
        {
            var itemCount += itemCount;
        }

    }*@

            <p class="itemName" style="color:white; margin-top:20px">8 items</p>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
            {
            <div class="well col-md-3 col-sm-4 col-xs-6">
                <a href="@Url.Action("Details", "Items", new {id = item.Id})">
                    <img src="@Url.Content(item.MediaURL)"> @*Url.Content method gets rid of the ~ from the Url address, ~/assets/images/m4.jpg*@
                </a>
                <p class="itemName">@item.Name</p>
                <p class="itemPrice">$@item.Price</p>

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("Create", "CartItems", new { itemId = item.Id }, FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" class="addToCartButton" value="Add to cart" />
                    }
                }
            </div>
        }
    </div>
</div>
<!--End surrounded Images box-->
@*<div class="col-md-3 col-sm-6">
        <img src="~/assets/images/m2.jpg" />
        <p class="itemName">CFW-1100</p>
        <p class="itemPrice">$1600.00</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="~/assets/images/m3.jpg" />
        <p class="itemName">CFW-550</p>
        <p class="itemPrice">$1500.00</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <img src="~/assets/images/m5.jpg" />
        <p class="itemName">CFW-1200</p>
        <p class="itemPrice">$1650.00</p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <img src="~/assets/images/m6.jpg" />
            <p class="itemName">CFW-850</p>
            <p class="itemPrice">$1550.00</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/assets/images/m7.jpg" />
            <p class="itemName">CFW-2500</p>
            <p class="itemPrice">$950.00</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/assets/images/m8.jpg" />
            <p class="itemName">CFW-650</p>
            <p class="itemPrice">$950.00</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/assets/images/m9.jpg" />
            <p class="itemName">CFW-5500</p>
            <p class="itemPrice">$15000.00</p>
        </div>
    </div>*@
