@model IEnumerable<jwhiteheadShoppingApp.Models.CodeFirst.Item>
@{
    ViewBag.Title = "SearchResults";
}

<div class="surroundSmallImagesBox">
    <div class="row">
        <div class="col-sm-12">
            <p class="itemName" style="color:white; margin-top:20px; display: inline-block;">@Model.Count() items</p>

            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Create")" class="myCustomBttn">Create New</a>
            }
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
            {
            <div class="well col-md-3 col-sm-4 col-xs-6">
                <a href="@Url.Action("Details", "Items", new {id = item.Id})">
                    <img src="@Url.Content(item.MediaURL)"> @*Url.Content method gets rid of the ~ from the Url address, ~/assets/images/m4.jpg*@
                </a>
                <p class="itemName">@item.Name</p>
                <p class="itemPrice">$@item.Price</p>

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("Create", "CartItems", new { itemId = item.Id }, FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" class="addToCartButton" value="Add to cart" />
                    }
                }
            </div>
        }
    </div>
</div>

